/* First set the navbar */

*,*:before,*:after{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-o-box-sizing:content-box;-ms-box-sizing:content-box;box-sizing:content-box}

body {
   font-family: 'Open Sans Condensed', sans-serif !important;
   font-size: 15pt !important;
   line-height: 1.75em !important;
}

h1,h2,h3,h4
{
   font-family: 'Open Sans Condensed', sans-serif !important;
   color: #1d1d1d;
}

h2, h3
{
   font-size: 1.8em !important;
   letter-spacing: -1px !important;
   margin: 0 0 0.75em 0 !important;
}

strong
{
   color: #1d1d1d;
}

a
{
   color: #478903;
   text-decoration: underline !important;
}

a:hover
{
   text-decoration: none;
}

.navbar ul {
  float: right;
  margin: 0 0 0 0;
}

.nav li {
  font-size: 14px;
  font-weight: 700;
  line-height: 2em;
  text-transform: uppercase;
  margin: 14px 0 0 0;
}

/* Now tweak our css logo */
.brand {
  float: left;
  font-size: 30px;
  font-weight: normal; 
  margin: 0 0 0 0;
}

.brand b {
  font-weight: normal;
  color: #9c9c9c;
}

.brand a {
  color: #838B8B;  
}

/* Override the bootstrap hover class */
a.brand:hover {
  text-decoration: none;
}

/* Big cover image on the home page */
.site-head {
  background-color: #2B2B2B;
  background-size: cover;
  height: 300px;
}

/* Container : 

  - Don't use full screen
  - Check for a few screen sizes and adjust
*/

.container {
    max-width: 1000px;
}

@media (min-width: 598px){.container {
        width: 598px
    }
}

@media (min-width: 764px){.container {
        width: 764px
    }
}

@media (min-width: 1000px){.container {
        width: 1000px;
    }

}


/* Footer */

.site-footer {
    position: relative;
    float:bottom;
    margin: 8rem 0 0 0;
    padding: 4rem 0;
    border-top: #EBF2F6 1px solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 1.7em;
    color: #BBC7CC;
    text-align: center;
    background: #F7FAFB;
}

.site-footer a {
    color: #BBC7CC;
    text-decoration: underline;
}

.site-footer a:hover {
    color: #50585D;
}

.poweredby .icon-ghost {
    font-weight: 700;
    text-decoration: none;
}

.poweredby .icon-ghost:hover {
    text-decoration: none;
}

.poweredby .icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}

