/* First set the navbar */

*,*:before,*:after{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-o-box-sizing:content-box;-ms-box-sizing:content-box;box-sizing:content-box}


img.profile {
  width:180px;
  height:auto;
    border-radius: 50px;
}

.portfolio img {
    padding: 10px;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

a
{
   color: #478903;
   text-decoration: none;
}

a:hover
{
   text-decoration: none;
}

.meta {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  float: left;
}
.meta a {
  font-size: 50px;
  color: #555;
  text-decoration: none;
  transition: color 0.15s ease-in;
  -webkit-transition: color 0.15s ease-in;
}
.meta a:hover {
  color: #307EA9;
  text-decoration: none;
}
.meta .block {
  display: inline-block;
  vertical-align: top;
}



.navbar ul {
  float: right;
  margin: 0 0 0 0;
}

.nav li {
  font-size: 14px;
  font-weight: 700;
  line-height: 2em;
  text-transform: uppercase;
  margin: 14px 0 0 0;
}

/* Now tweak our css logo */
.brand {
  float: left;
  font-size: 30px;
  font-weight: normal; 
  margin: 0 0 0 0;
}

.brand b {
  font-weight: normal;
  color: #9c9c9c;
}

.brand a {
  color: #838B8B;  
}

/* Override the bootstrap hover class */
a.brand:hover {
  text-decoration: none;
}

/* Big cover image on the home page */
.site-head {
  background-color: #2B2B2B;
  background-size: cover;
  height: 300px;
}

/* Container : 

  - Don't use full screen
  - Check for a few screen sizes and adjust
*/

.container {
    max-width: 1000px;
}

@media (min-width: 598px){.container {
        width: 598px
    }
}

@media (min-width: 764px){.container {
        width: 764px
    }
}

@media (min-width: 1000px){.container {
        width: 1000px;
    }

}

.gray-bg {
  background-color: #d9d9d4;
}

h2#clients {
  text-align: center;
}
/* Footer */

.site-footer {
    position: relative;
    float:bottom;
    margin: 8rem 0 0 0;
    padding: 4rem 0;
    border-top: 2px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 1.7em;
    color: #666;
    text-align: center;
    background: #d9d9d4;
}

.site-footer a {
    color: #50585D;
    text-decoration: underline;
}



.poweredby .icon-ghost {
    font-weight: 700;
    text-decoration: none;
}

.poweredby .icon-ghost:hover {
    text-decoration: none;
}

.poweredby .icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}

