*,*:before,*:after{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-o-box-sizing:content-box;-ms-box-sizing:content-box;box-sizing:content-box}

body {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 14pt;
   line-height: 1.75em;
}

h1,h2,h3,h4
{
   font-family: 'Open Sans Condensed', sans-serif;
   color: #1d1d1d;
}

h2, h3
{
   font-size: 1.6em;
   letter-spacing: -1px;
   margin: 0 0 0.75em 0;
}

strong
{
   color: #1d1d1d;
}

a
{
   color: #478903;
   text-decoration: underline;
}

a:hover
{
   text-decoration: none;
}

