.logo-title
{
  display: block;
  overflow: hidden;
  direction: ltr;
  text-indent: -9999px;
  background: transparent no-repeat 0 0;
  background-image: url(/images/BitLess-head.png);
  background-position: center;
  margin: 15px;
  padding: 0;
  height: 80px;
}

/* Menu : Center */ 

.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}
 
.center .navbar-inner {
    text-align:center;
}

.nav a {
  color: #9c9c9c;
}

.nav li {
  font-size: 14px;
  font-weight: 700;
  line-height: 2em;
  text-transform: uppercase;
}

/* Container : 

  - Don't use full screen
  - Check for a few screen sizes and adjust
*/


@media (min-width: @col-xs){.container {
        width: @col-xs
    }
}

@media (min-width: @col-sm){.container {
        width: @col-sm
    }
}

@media (min-width: @col-md){.container {
        width: @col-md
    }
}

/* Make a 2 column page with a gap in between */

.wrapper {
  .make-row();
}
.content-main {
  .make-lg-column(8);
}
.content-secondary {
  .make-lg-column(3);
  .make-lg-column-offset(1);
}

