.brand {
  float: left;
  font-size: 30px;
  font-weight: normal; 
  margin: 0 0 0 0;
}

.brand b {
  font-weight: normal;
  color: #9c9c9c;
}

.brand a {
  color: #838B8B;  
}


.navbar ul {
  float: right;
  margin: 0 0 0 0;
}


.nav li {
  font-size: 14px;
  font-weight: 700;
  line-height: 2em;
  text-transform: uppercase;
}

/* Big cover image on the home page */
.site-head {
  background-color: #2B2B2B;
  background-size: cover;
  height: 300px;
}

/* Container : 

  - Don't use full screen
  - Check for a few screen sizes and adjust
*/

.container {
    max-width: 1000px;
}



@media (min-width: 598px){.container {
        width: 598px
    }
}

@media (min-width: 764px){.container {
        width: 764px
    }
}

@media (min-width: px){.container {
        width: 1000px
    }
}

