  <!-- Piwik -->
   <script type="text/javascript">
  var _paq = _paq || [];
   _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
   _paq.push(["setCookieDomain", "*.www.cooldevops.com"]);
   _paq.push(["setDomains", ["*.www.cooldevops.com","*.cooldevops.com","*.cooldevops.eu","*.cooldevops.org","*.dev.bitless.be","*.www.cooldevops.eu","*.www.cooldevops.org"]]);
   _paq.push(["trackPageView"]);
   _paq.push(["enableLinkTracking"]);
 
   (function() {
     var u=(("https:" == document.location.protocol) ? "https" : "http") + "://byte-consult.be/piwik/";
     _paq.push(["setTrackerUrl", u+"piwik.php"]);
     _paq.push(["setSiteId", "9"]);
     var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
     g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
   })();
 </script>
 <noscript>
 <!-- Piwik Image Tracker -->
   <img src="http://byte-consult.be/piwik/piwik.php?idsite=9&amp;rec=1" style="border:0" alt="" />
 <!-- End Piwik --> 
 </noscript>
 <!-- End Piwik Code -->
